body {
    background: url("../images/pixel-heart.png");
  }

img {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 pink, 0 6px 20px 0;
    color: lightskyblue;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-shadow: 0 0 2px pink;
    text-align: center;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 2px pink;
}

#instructions {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
} 

#show {
    margin: 5px;
}

.menu {
    background-color: #FDEDEC;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
}

.zoom:hover {
    transform: scale(1.08); 
}



